h1,
.city,
.hour-forecast,
.weatherDescription,
.linkToSourceCode {
  text-align: center;
}

h1 {
  font-size: 22px;
  margin-top: 0 auto;
  padding: 3px;
}
h3 {
  text-align: right;
  font-size: 13px;
  padding: 1px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.icons-search {
  position: relative;
  left: 10px;
}
.city {
  padding: 0px;
  margin: 0px;
}
.currentDay {
  font-size: 15px;
  padding: 6px;
  margin: 5px;
  position: relative;
  left: 170px;
}
.weatherDescription {
  font-size: 23px;
  position: relative;
  top: -20px;
}
.hour-forecast {
  margin: 0 auto;
  padding: 0px;
  font-size: 14px;
  color: #48484a;
  position: relative;
  left: 30px;
}
.current-weather-information {
  padding-left: 20px;
}

.icon-forecast {
  position: relative;
  left: -15px;
  padding: 0px;
  margin: 0px;
}

.weather-forecast-temperature {
  position: relative;
  left: 10px;
}
.units {
  position: relative;
  font-size: 20px;
  top: -45px;
  left: 40px;
  padding-left: 2px;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
.conditions {
  font-size: 15px;
  position: relative;
  top: 10px;
  left: -20px;
}
.current-temperature {
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 30px;
}
.linkToSourceCode {
  font-size: 15px;
}
.container {
  color: #48484a;
  margin: 10px auto;
  box-shadow: 1px 5px 10px 0px rgba(170, 175, 209, 1);
  max-width: 530px;
  display: block;
  border-radius: 15px;
  padding: 15px;
  font-family: "Andika", sans-serif;
  background-image: linear-gradient(to bottom, #fff1eb 3%, #ace0f9 100%);
}
